body{
    background-color: #F0C9AF;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
    margin: 10% auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.paino {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  
footer{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.a{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.s{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.d{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.j{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.k{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.l{
    background-image: url(./images/piano.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pressed{
    box-shadow: 0 4px 4px 0 #DBEDF3;
    opacity: 0.4;
}